html {
  scroll-behavior: smooth;
}

.slider {
    
    
    margin-top: 68px;
	overflow: hidden;
    width: 100%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.slider figure img {
	float:left ;
	height: 500px;
 

}


  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;
    

  }

  .container-left {
  
   width: 650px;
    
  }

  .container-right {
    margin-left: 50px;
    margin-right: 50px;
   
    

  }



  .title-d {
    font-size: 26px ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    background-color: transparent;
   
  }
  
  .text-d {
    margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #adbfc8;
    font-family: 'Inder', sans-serif; 
    line-height: 28px; 
    color: rgb(43, 43, 43); 
    border-radius: 20px;
    max-width: 600px;
    
  }

  .text-i {
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    color:black;
  }

  .text-i:hover {
    text-decoration: underline;
  }

.text-i:active {
  color: rgb(39, 39, 39);
  }

  .text-d2{
    margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #a49bb3;
    font-family: 'Inder', sans-serif; 
    line-height: 28px; 
    color: rgb(43, 43, 43); 
    border-radius: 20px;
    max-width: 600px;
    
  }


  .img-example {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    background-color: #adbfc8;
    display: flex;
    justify-content: space-around;
  }
 
  .img-example2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    background-color: #a49bb3;
    display: flex;
    justify-content: space-around;
  }

.example {
  margin-right:20px ;

}

.container2 {
  background-color: transparent;
}

.box-sponsor {
  display: flex;
    justify-content: left;
    margin-left: 20px ;
    
    height: 110px;
  
}

.box-sponsor2 {
  display: flex;
    justify-content: right;
    margin-left: 20px ;
    
    height: 110px;
  
}


.box-sponsor-text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 100px;
  background-color: beige;
  border-radius: 40px;
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  position: relative;
  
}

.box-sponsor-text{
  padding-left: 35px;
}

.box-sponsor-text2{
  background-color: #beed8f;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 100px;
  
  border-radius: 40px;
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  position: relative;
}

.button-solution {
  font-size: 22px;
    background-color: #beed8f;
    color: black;
    border: none;
    text-decoration: none;
       
}


.button-solution:hover{
  
  opacity: 0.8;
  transition: color 0.15s;
  cursor: pointer;
              
}

.button-solution:active {
  opacity: 0.5;
}



.double-check {
  width: 24px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #beed8f;
}



@keyframes slider {
  0% { 
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }

  45% {
      left: -100%;
  }

  50% {
      left: -200%;
  }

  70% {
      left: -200%;
  }

  75% {
      left: -300%;
  }

  95% {
      left: -300%;
  }
  
  100% {
      left: -400%
  }




}

@media (max-width: 620px) {
  .box-sponsor-text  {
    font-size: 12px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .box-sponsor-text {
    font-size: 16px;
  }
}

@media (min-width: 881px) {
  .box-sponsor-text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .button-solution  {
    font-size: 12px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .button-solution {
    font-size: 16px;
  }
}

@media (min-width: 881px) {
  .button-solution {
    font-size: 20px;
  }
}


@media (max-width: 620px) {
  .example  {
    
    width: 150px;
    height: 200px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .example {
    max-width: 150px;
  }
}

@media (min-width: 881px) {
  .example {
    max-width: 200px ;
  }
}


@media (max-width: 620px) {
  .text-d  {
    
    font-size: 12px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .text-d {
    font-size: 14px;
  }
}

@media (min-width: 881px) {
  .text-d {
    font-size: 18px ;
  }
}

@media (max-width: 620px) {
  .title-d  {
    
    font-size: 12px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .title-d {
    font-size: 14px;
  }
}

@media (min-width: 881px) {
  .title-d {
    font-size: 18px ;
  }
}



@media (max-width: 620px) {
  .text-d2  {
    
    font-size: 14px;
  }
}

@media (min-width: 621px) and (max-width: 880px) {
  .text-d2 {
    font-size: 16px;
  }
}

@media (min-width: 881px) {
  .text-d2 {
    font-size: 20px ;
  }
}